import { reactRouter } from "@react-router/dev/vite";
import tailwindcss from "@tailwindcss/vite";
import { defineConfig } from "vite";
import tsconfigPaths from "vite-tsconfig-paths";

export default defineConfig({
  plugins: [tailwindcss(), reactRouter(), tsconfigPaths()],
  build: {
    outDir: "build",
    rollupOptions: {
      output: {
        manualChunks: undefined,
      },
    },
  },
  server: {
    port: 3000,
{%- if allowed_hosts %}
    allowedHosts: [{% for host in allowed_hosts.split(',') %}"{{ host.strip() }}"{% if not loop.last %}, {% endif %}{% endfor %}],
{%- else %}
    allowedHosts: true,
{%- endif %}
    proxy: {
      "/api": {
        target: "http://localhost:8090",
        changeOrigin: true,
      },
    },
  },
});
